{#
/**
 * @file asset.html.twig
 * Default theme implementation to present Asset data.
 */
#}
{{ attach_library('pbs_media_manager/player') }}
<div{{ attributes.addClass('asset') }}>
    <div{{ attributes.addClass('partner-player') }}>
        <div>This is a content.player.{{ content.player_code|raw }}</div>
        <p>{{ content.description_long }}</p>
    </div>
</div>
