{#
/**
 * @file pbs-mm-asset.html.twig
 * Default theme implementation to present Asset data.
 *
 * Available variables:
 * - content: All asset attributes as returned by the API. Use {{ content }} to
 *   print them all, or print a subset such as {{ content.player_code }}. Use
 *   {{ content|without('player_code') }} to temporarily suppress the printing
 *   of a given child element.
 *
 *   If the child element is anything other than a string, you may need to
 *   format it first.  See @template_preprocess_asset().
 *
 *   Frequently used elements:
 *   - content.player_code (use content.player_code|raw to keep iframe tags)
 *   - content.asset_id
 *   - content.slug
 *   - content.title
 *   - content.description_long
 *   - content.description_short
 *
 *  This template attaches some rudimentary CSS to ensure that the partner
 *  player iframe displays responsively.
 *
 */
#}
{{ attach_library('pbs_media_manager/player') }}
<div{{ attributes.addClass('asset') }}>
    <div{{ attributes.addClass('partner-player') }}>
        <div>{{ content.player_code|raw }}</div>
        <p>{{ content.description_long }}</p>
    </div>
</div>
